/* 모든 디바이스 */

/* 중첩 방식 */
body {
  background-color: yellow;
  /* 320px(20em) 이상 640px(40em)이하 디바이스 */
  @media (min-width: 20em) and (max-width: 40em) {
    & {
      background-color: skyblue;
    }
  }
}

/* 640px(40em) 이상 800px(50em)이하 디바이스 */
@media (min-width: 40em) and (max-width: 50em) {
  body {
    background-color: pink;
  }
}

/* 1024px(64em) 이상 디바이스 */
@media (min-width: 64em) {
  body {
    background-color: lime;
  }
}
